<div class="row">
  <div class="col-xs-5">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">SPEND TRANSACTION MIX BY SOURCE</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-donut="spend_transaction_mix.series"></div>
      </div>
      <div class="data-summary-footer">
        <p><strong rg-count="spend_transaction_mix.count" suffix="%"></strong> % of Product TXN Spend through Item Master</p>
      </div>
    </div>
    <p class="text-justify">Having control of your spend will decrease the percent of transactions ordered through a
      special PO process which comes with in associated increased cost to support the order unlike
      those ordered through your item master. Products ordered through a pecial PO Process also
      accompany poor data quality and often contain an incorrect contract pricing impairing your
      cost savings initiatives</p>
  </div>
  <div class="col-xs-7">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">SPECIAL PRODUCT TRANSACTION SPEND (LAST 12 MONTHS)</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-bars-and-lines="special_product_transaction_spend.series" dates="special_product_transaction_spend.dates"></div>
      </div>
    </div>
    <p class="text-justify">Your performance around managing how you purchase products contributes significantly to your ability to implement sustainable cost savings initiatives, maximize contract value, and minimize the
      intervention of supply chain personnel. It is important to view not only your current performance around managing your spend transactions but also to gauge your performance over time. In addition,
      the ability to compare yourself to other organizations within the industry helps support setting goal around improvement</p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-5">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">TRANSACTIONS IMPACTED BY DATA ISSUES</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-columns="transactions_impacted.series"></div>
      </div>
    </div>
    <p class="text-justify">To further advance your supply chain efforts around having complete control of your total product spend, you can focus
      on key discrepancies to ensure you are leveraging contract pricing available to your organization, minimizing resource
      allocation resolving errors resulting from inaccurate pricing between purchase orders and invoices, and increasing your
      visibility of spend by eliminating segmented spend resulting from duplication of products. </p>
  </div>
  <div class="col-xs-7">

    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">UNIDENTIFIED SPEND BY SUPPLIER</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-columns="transactions_impacted.series"></div>
      </div>
    </div>
    <p class="text-justify">To maximize the benefit of your supply chain analytics, it is key to ensure you have robust processes around improving your unidentified spend.
      Shifting spend from this unidentified bucket greatly enhances the value received from your analytics by increasing spend benchmarked or available for
      analysis and contract maximization. Two key ways to approach the reduction of unidentified spend is to focus by count of transactions or by total
      spend by manufacturer.</p>

  </div>
</div>
