<div class="row">
  <div class="col-xs-5">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">SPEND TRANSACTION MIX BY SOURCE</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-donut="spend_transaction_mix.series"></div>
      </div>
      <div class="data-summary-footer">
        <p><strong rg-count="spend_transaction_mix.count" suffix="%"></strong> % of Product TXN Spend through Item Master</p>
      </div>
    </div>
    <p class="text-justify">Having control of your spend will decrease the percent of transactions ordered through a
      special PO process which comes with in associated increased cost to support the order unlike
      those ordered through your item master. Products ordered through a pecial PO Process also
      accompany poor data quality and often contain an incorrect contract pricing impairing your
      cost savings initiatives</p>
  </div>
  <div class="col-xs-7">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">SPECIAL PRODUCT TRANSACTION SPEND (LAST 12 MONTHS)</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-bars-and-lines="special_product_transaction_spend.series" dates="special_product_transaction_spend.dates"></div>
      </div>
    </div>
    <p class="text-justify">Your performance around managing how you purchase products contributes significantly to your ability to implement sustainable cost savings initiatives, maximize contract value, and minimize the
      intervention of supply chain personnel. It is important to view not only your current performance around managing your spend transactions but also to gauge your performance over time. In addition,
      the ability to compare yourself to other organizations within the industry helps support setting goal around improvement</p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-5">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">TRANSACTIONS IMPACTED BY DATA ISSUES</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-bars-and-lines="special_product_transaction_spend.series" dates="special_product_transaction_spend.dates"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-7"></div>
</div>
