<div class="row">
  <div class="col-xs-4">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">SPEND TRANSACTION MIX BY SOURCE</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-donut="spend_transaction_mix.series"></div>
      </div>
      <div class="data-summary-footer">
        <p><strong rg-count="spend_transaction_mix.count" suffix="%"></strong> % of Product TXN Spend through Item Master</p>
      </div>
    </div>
    <p class="text-justify">Having control of your spend will decrease the percent of transactions ordered through a
      special PO process which comes with in associated increased cost to support the order unlike
      those ordered through your item master. Products ordered through a pecial PO Process also
      accompany poor data quality and often contain an incorrect contract pricing impairing your
      cost savings initiatives</p>
  </div>
</div>
