<div class="row">
  <div class="col-xs-6">
    <div rg-data-timeline="percent_of_product_with_incorrect_mfg.histories" dates="percent_of_product_with_incorrect_mfg.dates" data="" title="PERCENT OF IM PRODUCTS WITH INCORRECT MFG. CATALOG NUMBER (LAST 12 MONTHS)"></div>
  </div>
  <div class="col-xs-6">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">PERCENT OF TXN PRODUCT SPEND WITH INCORRECT MFG. CATALOG NUMBER (LAST 12 MONTHS)</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-bars-and-lines="percent_of_txn_product_spend.series" dates="percent_of_txn_product_spend.dates"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">IM PRODUCT UNSPSC DISCREPANCY</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-donut="im_product_unspsc_discrepancy.series"></div>
      </div>
      <div class="data-summary-footer">
        <p><strong rg-count="im_product_unspsc_discrepancy.count" suffix="%"></strong> Of your item master records have an incorrect UNSPSC
          Code Value</p>
      </div>
    </div>
  </div>
  <div class="col-xs-3">

    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">IM PRODUCT HCPCS DISCREPANCY</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-donut="im_product_hcpcs_discrepancy.series"></div>
      </div>
      <div class="data-summary-footer">
        <p><strong rg-count="im_product_hcpcs_discrepancy.count" suffix="%"></strong> Of your item master records have an incorrect HCPCS
          Code Value</p>
      </div>
    </div>

  </div>
  <div class="col-xs-6">

    <div rg-data-timeline="percent_of_introduction.histories" dates="percent_of_introduction.dates" data="" title="PERCENT OF INTRODUCTION RATE OF POOR DATA QUALITY INTO THE ITEM MASTER"></div>


  </div>
</div>
