<div class="row">
  <div class="col-xs-6">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">IM UNSPSC COMPLETENESS</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-donut="im_unspsc_completeness.series"></div>
      </div>
      <div class="data-summary-footer">
        <p><strong rg-count="im_unspsc_completeness.count" suffix="%"></strong> Of your item master records have a UNSPSC code at the 27% commodity level</p>
      </div>
    </div>
    <p class="text-justify">Having your item master categorized to the United Nations Standard Products &
      Services Code (UNSPSC) at the commodity level can greatly improve your efforts
      in strategically analyzing spend and assist in your supply chain initiatives around
      standardization and cost reduction. Many organizations have also benefited by
      utilizing the UNSPSC to automate assignment of general ledger accounts and
      implementation of processes around formulary management.</p>
  </div>
  <div class="col-xs-6">

    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">IM MFG INFO COMPLETENESS</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-donut="im_mfg_info_completeness.series"></div>
      </div>
      <div class="data-summary-footer">
        <p><strong rg-count="im_mfg_info_completeness.count" suffix="%"></strong> Of your item master records have a Populated Manufacturer Information (Name & Catalog Number) </p>
      </div>
    </div>

    <p class="text-justify">Having the visibility into the manufacturers information for the
      products within your item master can greatly improve your processes
      around contract value maximization and compliance.</p>
    <p class="text-justify">Complete
      Manufacturer
      information can also support your ability to conduct robust analytics
      around your spend and improve your speed to value when working on
      cost savings initiatives</p>
    <p class="text-justify">Population of Manufacturer information in
      your
      item master can also support the timeliness of your response to
      product recall events within the market.</p>

  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">IM PKG CONVERSION COMPLETENESS</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-donut="im_pkg_conversion_completeness.series"></div>
      </div>
      <div class="data-summary-footer">
        <p><strong rg-count="im_pkg_conversion_completeness.count" suffix="%"></strong> Of your item master records have complete packaging
          conversion factors populated</p>
      </div>
    </div>
    <p class="text-justify">Having complete packaging conversion factors maintained and
      populated within your item master for the products you utilize can
      greatly improve the speed and quality of financial analysis for cost
      savings initiatives around product conversions. Having complete
      packaging conversion factors for the products within your item master
      also benefits procurement and inventory management by ensuring
      you are ordering and stocking adequate levels of products for your
      clinicians</p>
  </div>
  <div class="col-xs-6">

    <div class="data-summary-box data-timeline-box">
      <div class="data-summary-header">
        <h4 class="title">IM HCPCS CODE COMPLETENESS</h4>
      </div>
      <div class="data-summary-content">
        <div class="chart-box" rg-chart-donut="im_hcpcs_code_completeness.series"></div>
      </div>
      <div class="data-summary-footer">
        <p><strong rg-count="im_hcpcs_code_completeness.count" suffix="%"></strong> Of your item master records have a populated Level II
          HCPCS Code</p>
      </div>
    </div>
    <p class="text-justify">It is best practice to maintain within your item master Level II HCPCS
      codes which supports the reimbursement process between your
      organization and Medicare / Medicaid as well as 3rd party payers.
      Though not likely consumed and utilized by supply chain, access to this
      information supports your revenue cycle team and can help support
      the improvement and optimization of revenue cycle processes - thus
      contributing to your organizations bottom line.</p>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="chart-box" rg-data-timeline="percent_of_product_spend_with_data_incompleteness.histories" dates="percent_of_product_spend_with_data_incompleteness.dates" data="" title="PERCENT OF PRODUCT SPEND WITH DATA INCOMPLETENESS (LAST 12 MONTHS)"></div>
    <p class="text-justify">As you evaluate the completeness of your item master information understanding how this information ties to the utilization within your organization can assist you in better understanding the true impact to your organization. As you transact on these products lacking UNSPSC, Manufacturer Information, Packaging Conversion factors, and
      Level II HCPCS codes, you can understand better the systemic impact this can potentially have on your supply chain initiatives as well as the systems and business units who leverage this information. Tracking this performance overtime can help you measure the improvement (or lack there of) in addressing this data gap. As with any
      performance measurement, it is helpful to compare your performance to that of other health systems as well as those who are utilizing and operationalizing a data management solution like Novations.</p>
  </div>
</div>

